<!DOCTYPE html>
<html lang="ja" ng-app="request-sample">
	<head>
		<meta charset="UTF-8">
		<title>angular-request | masa69</title>
	</head>
	<body ng-controller="IndexController as self">
		<form ng-submit="self.send()">
			<h4>POST</h4>
			<input type="text" ng-model="self.posts.title" placeholder="title">
			<input type="text" ng-model="self.posts.body" placeholder="body">

			<h4>GET</h4>
			<input type="text" ng-model="self.gets.title" placeholder="title">
			<input type="text" ng-model="self.gets.body" placeholder="body">

			<h4>FILES</h4>
			<input type="file" input-file-setter="self.files.image">

			<hr>
			<button type="submit">SEND</button>
		</form>

		<pre>{{ self.responseBody }}</pre>

		<section ng-repeat="(method, config) in self.configs">
			<h5>$httpRequest.{{ method }}() - config</h5>
			<ul>
				<li ng-repeat="(key, value) in config"><small>{{ key }}: <strong>{{ value }}</strong></small></li>
			</ul>
		</section>

		<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="../angular-request.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</body>
</html>